body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f9f8; /* Pale Yellow */
}

nav {
    background-color: #80271f; /* Red */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav li.right {
    float: right;
}

nav li a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #FF4500; /* OrangeRed */
}

#result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #008080; /* Teal */
}

.choices {
    text-align: center;
    margin-top: 20px;
}

.choices button {
    font-size: 24px;
    padding: 15px 30px;
    margin: 0 10px;
    background-color: #32CD32; /* LimeGreen */
    color: white;
    border: 2px solid #228B22; /* ForestGreen */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choices button:hover {
    background-color: #FFD700; /* Gold */
}

#score, #rateDisplay {
    text-align: center;
    margin-top: 20px;
}

#score h2, #rateDisplay h2 {
    font-size: 30px;
    color: #800080; /* Purple */
}

#score p, #rateDisplay p {
    margin: 10px 0;
    font-size: 20px;
    color: #4B0082; /* Indigo */
}

#resetButton {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 24px;
    background-color: #FF6347; /* Tomato */
    color: white;
    border: 2px solid #8B0000; /* DarkRed */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#resetButton:hover {
    background-color: #FF4500; /* OrangeRed */
}
