body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

.choices {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

ul {
    display: flex;
}

li{
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}

/* ナビゲーションバーのスタイル */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* ナビゲーションバーの背景色 */
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
/* 右寄せのスタイル */
.right {
    float: right;
}
}
